*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    background-image:url("itachicover3.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/* -----------------------------START of NAVBAR------------------------- */
.container{
    margin-left: 5%;
}
.header-brand{
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
}

.header-text img{
    margin-top: 0;
    display: block;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

.header-brand__span{
    color: red;
}

.header-brand a
{
    color: rgba(0, 0, 0, 0.4); 
}

.header-brand a:before
{
    transform: scale(1.2);
}
.sidemenu{
    right: -300 px;
    padding-left: 500px;
}
nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* nav ul{
    margin-top: 0;
    margin-bottom: -1rem;
    margin-right: -6rem;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    animation: nav;
}

.fa-solid{
    display: none;
}
/* nav ul li a:after{
    content: '';
    width: 100%;
    height: 3px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 1s;
}

nav ul li a:hover:after{
    width: 100%;
} */

nav ul li a:before,
nav ul li a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: red;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav ul li a:before
{
    top: 0px;
    transform: translateY(-10px);
}

nav ul li a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

nav ul li a:hover:before,
nav ul li a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

/* ------------------------End of navbar------------------------------- */

/* ----------------------------Start of HEADER SECTION------------------------------- */

.header-text{
    /* background-color: red; */
    color: white;
    margin-left: 5%;
}

.header-text img{
    padding: 0;
    margin-top: 0%;
    display: block;
}

.header-text2{
    display: inline-block;
}

.header-text h1{
    margin-top: 10%;
    font-size: 65px;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 30px;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: red;
    animation: waviy 2.5s infinite;
    animation-delay: calc(.2s * var(--i)); /*delay bouncing per letters*/
    
}

@keyframes waviy {
    0%,50%,100% {transform: translateY(0)}
    50% {transform: translateY(-10px)} /*the height of bouncing letters*/
    from{color: red;} /*the original color*/
    to{color: yellow;} /*after 2.5s the color change to yellow*/
}

/* -------------------------------END of HEADER SECTION ------------------------------*/

/* ------------------------------------START of ABOUT SECTION---------------------------- */

.about{
    border-radius: 0;
    background-color: rgb(32, 32, 32);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.about-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-img{
    flex-basis: 35%;
}
.about-img img{
    margin-top: 15%;
    margin-left: 5rem;
    height: 80vh;
    width: 75%;
    border-radius: 3%;
}
.about-text1{
    /* background-color: red; */
    flex-basis: 60%;
    margin-right: 5%;
}

.about-text1 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 0;
    margin-top: 8%;
    font-size: 60px;
    font-weight: 500;
}

.about-text1{
    color: white;
    font-size: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    color: white;
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li span{
    /* background-color: red; */
    font-size: 20px;
    color: red;
    font-weight: 500;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
/* ------------------------------------END of ABOUT SECTION---------------------------- */

/* ------------------------------------START OF PORTFOLIO------------------------------ */
#portfolio{
    padding: 50px 0;
}
.portfolio{
    border-radius: 0;
    background-color: rgb(32, 32, 32);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-size: 60px;
    text-align: center;
    overflow: hidden;
}

.portfolio-text1{
    color: white;
    font-size: 60px;
    font-weight: 500;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fil, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.portfolio-img{
    /* background-color: red; */
    border-radius: 10px;
    position: relative;
    display: block;
}

.portfolio-img img{
    height: 50vh;
    width: 25%;
    border-radius: 10px;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.portfolio-img img{
    transition: .5s;
}
  
.portfolio-img img:hover{
    transform: scaleY(1.2);
}

.portfolio-btn{
    border: none;
    color: white;
    padding: 20px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3%;
    border: 1px solid red;
    border-radius: 10px;
  }

  .portfolio-btn:hover{
    background: grey;
    cursor: pointer;
  }

/*-----------------------------END OF PORTFOLIO------------------------------ */

/*-----------------------------START OF CONTACT------------------------------ */
.contact{
    background-color: rgb(32, 32, 32);
    border-radius: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* padding: 5%; */
    color: white;
  }
  
  .contact__row{
    display: flex;
    font-display: row;
  }
  
  .contact h2{
    font-size: 60px;
    font-weight: 500;
    margin-top: 0;
  }
  
  .contact-left{
    flex-basis: 35%;
  }
  
  .contact-left p{
    margin-top: 30px;
  }
  .contact-left p i{
    margin-right: 15px;
    color: white;
  }
  
  .contact-left p{
    color: red;
    margin: 10px;
    font-size: 20px;

  }
  
  .contact-left__icons{
    margin-top: 15px;
  }

  .contact-left__icons a i{
    margin-left: 10px;
  }
  
  .contact-left__icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #d9d9d9;
    display: inline-block;
    cursor: pointer;
  }
  
  .contact-left__icons a:hover{
    color: red;
    transform: translateY(-5px);
  }
  
  .contact__btn{
    display: block;
    margin: 50px auto;
    border: 1px solid red;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    width: fit-content;
  }
  
  .contact__btn:hover{
    background-color: grey;
  }
  
  .contact__btn.contact__btn--1{
    display: inline-block;
  }
  
  .contact-right{
    flex-basis: 60%;
    padding: 20px 0;
    border-radius: 20%;
  }

  .contact-right input{
    border: 1px solid red;
    border-radius: 10px;
  }

  .contact-right textarea{
    border: 1px solid red;
    border-radius: 10px;
  }
  
  .contact-left, .contact-right{
    margin: auto;
  }
  
  .contact-right form{
    width: 100%;
  }
  
  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border: 6px;
  
  }

  .contact__btn.contact__btn--2{
    display: inline-block;
    background-color: #312d2d;
    font-size: 18px;
    margin: 0;
  }
  
  .contact__btn--2:hover{
    background: grey;
    cursor: pointer;
  }
  
  /* Footer Section */
  footer{
    border-radius: 0;
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    background-color: #d9d9d9;
    font-weight: 300;
  }
/*-----------------------------END OF CONTACT------------------------------ */



/*----------------------------- Media Queries ------------------------------*/

@media only screen and (max-width: 600px){
    .header-text img{
        text-align: center;
        padding: 0 10px;
        margin-top: 0;
        margin-left: 120px;
    }
    .header-text h1{
        font-size: 40px;
        text-align: center;
        margin-top: 10px;
    }
    .waviy{
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
    }
    .fa-solid{
        display: block;
        font-size: 30px;;
    }

    nav ul{
        background-color: rgba(255, 0, 0, 0.589);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav i{
        cursor: pointer;
        color: red;
    }

    /*-----------------------------------START OF ABOUT--------------------------------------------*/

    .about{
        margin: 0;
        height: 170vh;
        width: 100%;
        align-items: center;
    }

    .about-img img{
        padding: 0 10px;
        height: 50vh;
        width: 100%;
        margin-left: 180px;
    }

    .about-text1 h1{
        font-size: 40px;
    }

    .about-text1 p{
        font-size: 15px;
        flex-basis: 100%;
    }

    .about-text1 h1, p{
        margin-left: 50px;
        align-items: center;
        text-align: center;;
        
    }

    /*-------------------------------END OF ABOUT-----------------------------------------*/

    /*----------------------------START OF PORTFOLIO-----------------------------------------*/

    .portfolio{
        padding: 0 50px;
        margin: o;
        height: 300vh;
        width: 100%;
    }

    .portfolio-img{
        display: block;
        flex-direction: column;
    }
    
    .portfolio-img img{
        height: 50%;
        width: 70vh;
        padding: 10%;
        border-radius: 50px;
    }

    .portfolio-btn{
        margin-top: 90%;
    }

    /*----------------------------END OF PORTFOLIO-----------------------------------------*/


    /*----------------------------START OF CONTACT-----------------------------------------*/
    .contact{
        height: 130vh;
    }

    .contact-row{
        display: block;
        flex-direction: column;
    }

    /*----------------------------END OF CONTACT-----------------------------------------*/
}