*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image:url("itachicover3.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/* -----------------------------START of NAVBAR------------------------- */
.container{
    margin-left: 5%;
    margin-top: 2rem;
}
.header-brand{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
}

.header-brand__span{
    color: red;
}

.header-brand a
{
    color: rgba(0, 0, 0, 0.4); 
}

.header-brand a:before
{
    transform: scale(1.2);
} 

nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    animation: nav;
}

/* nav ul li a:after{
    content: '';
    width: 100%;
    height: 3px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 1s;
}

nav ul li a:hover:after{
    width: 100%;
} */

nav ul li a:before,
nav ul li a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: red;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav ul li a:before
{
    top: 0px;
    transform: translateY(-10px);
}
nav ul li a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

nav ul li a:hover:before,
nav ul li a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
/* ------------------------End of navbar------------------------------- */

/* ----------------------------Start of HEADER SECTION------------------------------- */
.header-text{
    /* background-color: red; */
    color: white;
    margin-top: 20%;
    margin-left: 5%;
}
.header-text2{
    display: inline-block;
}
.header-text h1{
    font-size: 70px;
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 30px;
  }
.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: red;
    animation: waviy 2.5s infinite;
    animation-delay: calc(.2s * var(--i));
    
}
@keyframes waviy {
    0%,50%,100% {
      transform: translateY(0)
    }
    50% {
      transform: translateY(-20px)
    }
    
    from{color: red;}
    to{color: yellow}
}
/* -------------------------------END of HEADER SECTION */